#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
}
body {
  background-color: white;
}
header {
  background-color: #150578;
}
nav a {
  text-align: center;
  color: #ebfaff;
  text-decoration: none;
}
nav a:hover {
  background-color: #ebfaff;
  color: #150578;
}
.home-title,
.rivers-card,
.camping-card,
.rapids-card {
  color: #150578;
}
h4 {
  color: #896978;
}
.book {
  background-color: white;
  color: #150578;
  text-decoration: none;
}
.join {
  background-color: #896978;
  color: #2c0735;
  text-decoration: none;
}
.book:hover {
  background-color: #896978;
  color: white;
}
.join:hover {
  background-color: #896978;
  color: white;
}
#background {
  background-color: #ebfaff;
}
.msg {
  background-color: #896978;
}
.msg h2 {
  color: #2c0735;
}
.msg p {
  color: black;
}
footer {
  background-color: #2c0735;
  color: white;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #896978;
}
.logo {
  width: 80px;
}
.icon {
  width: 80px;
}
#hero-image {
  width: 100%;
}
